@model List<string>

    <div class="row">


        @foreach (var cor in Model)
        {
            <div class="box-cor hvr-float-shadow" style="background-color: @cor">
                <span class="texto-cor">@cor</span>
            </div>
        }
    </div>
