@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Editar Tema</h1>
    <p>cole abaixo o código css</p>
</div>

<div>
    <i class="icone-processar fas fa-cog"></i>
    <textarea id="txt-css"></textarea>
</div>

<div id="cores"></div>

@section Styles{ 
    <link href="~/css/Index/index.css" rel="stylesheet" />
}

@section Scripts{ 
    <script src="~/js/Index/index.js"></script>
}